# Visual Studio cache and intermediate files
.vs/
*.aps
*.user
x64/
Debug/
Release/
ipch/
*.VC.db
*.opendb

# ESP-IDF intermediate build directories
build/
out/
Project-ESP32-LCD/build/
Project-ESP32-LCD/managed_components/
Project-ESP32-LCD/out/
Project-ESP32-LCD/.vscode/
.vscode/

# Python cache
__pycache__/
*.pyc
*.old
*.tmp

# Local OS files
Thumbs.db
Desktop.ini
.DS_Store

*.apk
SolarDisplayManager_Distribution/*.apk

